## Introduction

A basic exploration of salaries data by college major

### Data
PayScale Inc. did a year-long survey of 1.2 million Americans with only a bachelor's degree. Data accessed from [Kaggle](https://www.kaggle.com/wsj/college-salaries).

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('degrees-that-pay-back.csv')

In [3]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"

# Data Exploration and Data Cleaning

In [4]:
df.shape

(50, 8)

In [5]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary',
       'Percent change from Starting to Mid-Career Salary',
       'Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary'],
      dtype='object')

In [6]:
# show NA values
# df.isna()

In [7]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [8]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

# Cleaning data, changing data type and doing a quick exploration

In [9]:
# first we need to remove '$' and convert the type to numeric
clean_df['Starting Median Salary'] = clean_df['Starting Median Salary'].astype(str).str.replace('$', '')
clean_df['Starting Median Salary'] = clean_df['Starting Median Salary'].astype(str).str.replace(',', '')
clean_df['Starting Median Salary'] = pd.to_numeric(clean_df['Starting Median Salary'])

C:\Users\benja\AppData\Local\Temp/ipykernel_8436/1521725067.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  clean_df['Starting Median Salary'] = clean_df['Starting Median Salary'].astype(str).str.replace('$', '')

In [10]:
# show the max. value
clean_df['Starting Median Salary'].max()

74300.0

In [11]:
# return index of the maximum element.
clean_df['Starting Median Salary'].idxmax()

43

In [12]:
# control if correct
clean_df['Starting Median Salary'][43]

74300.0

In [13]:
# which major is earning the highest startin salary (median)
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [14]:
clean_df.loc[43]

Undergraduate Major                                  Physician Assistant
Starting Median Salary                                           74300.0
Mid-Career Median Salary                                      $91,700.00
Percent change from Starting to Mid-Career Salary                   23.4
Mid-Career 10th Percentile Salary                             $66,400.00
Mid-Career 25th Percentile Salary                             $75,200.00
Mid-Career 75th Percentile Salary                            $108,000.00
Mid-Career 90th Percentile Salary                            $124,000.00
Name: 43, dtype: object

## Highest and Lowest Earning Degrees

In [15]:
# first we need to remove '$' and convert the type to numeric; same as before
clean_df['Mid-Career Median Salary'] = clean_df['Mid-Career Median Salary'].astype(str).str.replace('$', '')
clean_df['Mid-Career Median Salary'] = clean_df['Mid-Career Median Salary'].astype(str).str.replace(',', '')
clean_df['Mid-Career Median Salary'] = pd.to_numeric(clean_df['Mid-Career Median Salary'])


# since we use the columns later, we do the same for the other columns as well
clean_df['Mid-Career 10th Percentile Salary'] = clean_df['Mid-Career 10th Percentile Salary'].astype(str).str.replace('$', '')
clean_df['Mid-Career 10th Percentile Salary'] = clean_df['Mid-Career 10th Percentile Salary'].astype(str).str.replace(',', '')
clean_df['Mid-Career 10th Percentile Salary'] = pd.to_numeric(clean_df['Mid-Career 10th Percentile Salary'])

clean_df['Mid-Career 25th Percentile Salary'] = clean_df['Mid-Career 25th Percentile Salary'].astype(str).str.replace('$', '')
clean_df['Mid-Career 25th Percentile Salary'] = clean_df['Mid-Career 25th Percentile Salary'].astype(str).str.replace(',', '')
clean_df['Mid-Career 25th Percentile Salary'] = pd.to_numeric(clean_df['Mid-Career 25th Percentile Salary'])

clean_df['Mid-Career 75th Percentile Salary'] = clean_df['Mid-Career 75th Percentile Salary'].astype(str).str.replace('$', '')
clean_df['Mid-Career 75th Percentile Salary'] = clean_df['Mid-Career 75th Percentile Salary'].astype(str).str.replace(',', '')
clean_df['Mid-Career 75th Percentile Salary'] = pd.to_numeric(clean_df['Mid-Career 75th Percentile Salary'])

clean_df['Mid-Career 90th Percentile Salary'] = clean_df['Mid-Career 90th Percentile Salary'].astype(str).str.replace('$', '')
clean_df['Mid-Career 90th Percentile Salary'] = clean_df['Mid-Career 90th Percentile Salary'].astype(str).str.replace(',', '')
clean_df['Mid-Career 90th Percentile Salary'] = pd.to_numeric(clean_df['Mid-Career 90th Percentile Salary'])

C:\Users\benja\AppData\Local\Temp/ipykernel_8436/2276647436.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  clean_df['Mid-Career Median Salary'] = clean_df['Mid-Career Median Salary'].astype(str).str.replace('$', '')
C:\Users\benja\AppData\Local\Temp/ipykernel_8436/2276647436.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  clean_df['Mid-Career 10th Percentile Salary'] = clean_df['Mid-Career 10th Percentile Salary'].astype(str).str.replace('$', '')
C:\Users\benja\AppData\Local\Temp/ipykernel_8436/2276647436.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  clean_df['Mid-Career 25th Percentile Salary'] = clean_df['Mid-Career 25th Percentile Salary'].astype(str).str.replace('$', '')
C:\Users\benja\AppData\Local\Temp/ipykernel_8436/2276647436.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  clean_df['Mid-Career 75th Percentile Salary'] = clean_df['Mid-Career 75th Percentile Salary'].astype(str).str.replace('$', '')
C:\Users\benja\AppData\Local\Temp/ipykernel_8436/2276647436.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  clean_df['Mid-Career 90th Percentile Salary'] = clean_df['Mid-Career 90th Percentile Salary'].astype(str).str.replace('$', '')

In [16]:
print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df['Undergraduate Major'][8]

107000.0
Index for the salary: 8

'Chemical Engineering'

In [17]:
print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

34000.0

'Spanish'

In [18]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                                  Education
Starting Median Salary                                 34900.0
Mid-Career Median Salary                               52000.0
Percent change from Starting to Mid-Career Salary         49.0
Mid-Career 10th Percentile Salary                      29300.0
Mid-Career 25th Percentile Salary                      37900.0
Mid-Career 75th Percentile Salary                      73400.0
Mid-Career 90th Percentile Salary                     102000.0
Name: 18, dtype: object

# Majors with the Most Potential vs Lowest Risk

In [19]:
# calculate the variance
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,109800.0,46000.0,77100.0,67.6,42200.0,56100.0,108000.0,152000.0
1,Aerospace Engineering,96700.0,57700.0,101000.0,75.0,64300.0,82100.0,127000.0,161000.0
2,Agriculture,113700.0,42600.0,71900.0,68.8,36300.0,52100.0,96300.0,150000.0
3,Anthropology,104200.0,36800.0,61500.0,67.1,33800.0,45500.0,89300.0,138000.0
4,Architecture,85400.0,41600.0,76800.0,84.6,50600.0,62200.0,97000.0,136000.0

In [20]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

# Degrees with the Highest Potential

In [21]:
# show highest salary (90th percentile)
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [22]:
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [23]:
highest_spread = clean_df.sort_values('Mid-Career Median Salary', ascending=False)
highest_spread[['Undergraduate Major', 'Mid-Career Median Salary']].head()

       Undergraduate Major  Mid-Career Median Salary
8     Chemical Engineering                  107000.0
12    Computer Engineering                  105000.0
19  Electrical Engineering                  103000.0
1    Aerospace Engineering                  101000.0
17               Economics                   98600.0

# Grouping and Pivoting Data

In [24]:
# first we load a new dataset
degree_by_group = pd.read_csv('degree_group.csv')
degree_by_group.head(1)

  Undergraduate Major     Group
0          Accounting  Business

In [25]:
# join data with clean_df; check if everything went well with .info()
clean_df.info()
degree_by_group.info()
clean_df = pd.merge(clean_df, degree_by_group, on='Undergraduate Major')
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Undergraduate Major                                50 non-null     object
 1   Spread                                             50 non-null     float64
 2   Starting Median Salary                             50 non-null     float64
 3   Mid-Career Median Salary                           50 non-null     float64
 4   Percent change from Starting to Mid-Career Salary  50 non-null     float64
 5   Mid-Career 10th Percentile Salary                  50 non-null     float64
 6   Mid-Career 25th Percentile Salary                  50 non-null     float64
 7   Mid-Career 75th Percentile Salary                  50 non-null     float64
 8   Mid-Career 90th Percentile Salary                  50 non-null     float64
dtypes: float64(8), object(1)
memory usage: 6.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Undergraduate Major  50 non-null     object
 1   Group                50 non-null     object
dtypes: object(2)
memory usage: 928.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Undergraduate Major                                50 non-null     object
 1   Spread                                             50 non-null     float64
 2   Starting Median Salary                             50 non-null     float64
 3   Mid-Career Median Salary                           50 non-null     float64
 4   Percent change from Starting to Mid-Career Salary  50 non-null     float64
 5   Mid-Career 10th Percentile Salary                  50 non-null     float64
 6   Mid-Career 25th Percentile Salary                  50 non-null     float64
 7   Mid-Career 75th Percentile Salary                  50 non-null     float64
 8   Mid-Career 90th Percentile Salary                  50 non-null     float64
 9   Group                                              50 non-null     object
dtypes: float64(8), object(2)
memory usage: 4.3+ KB

In [26]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,,,,
Business,12,12,12,12,12,12,12,12,12
HASS,22,22,22,22,22,22,22,22,22
STEM,16,16,16,16,16,16,16,16,16

In [27]:
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,,,
Business,103958.333333,44633.333333,75083.333333,68.533333,43566.666667,56100.000000,102758.333333,147525.000000
HASS,95218.181818,37186.363636,62968.181818,68.868182,34145.454545,45086.363636,89709.090909,129363.636364
STEM,101600.000000,53862.500000,90812.500000,70.387500,56025.000000,70893.750000,118762.500000,157625.000000